ion-card {
  width: 525px;
  box-shadow: none;
  border: 1px solid #e1e1e1;
  margin: 10px 0 0 0;

  @media (max-width: 1200px) {
    width: 100%;
  }
}

ion-card-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

ion-img {
  display: flex;
  width: 50px;
  height: 50px;
}

.post-btn {
  --border-width: 1px;
  height: 48px;
  width: 100%;
  margin-left: 16px;

  @media (max-width: 480px) {
    width: 82%;
    height: 45px;
  }
}

span.ion-text-left {
  margin-right: auto;
}

@media (max-width: 480px) {
  span.ion-text-left {
    font-size: 13px;
  }
}

ion-card-content {
  display: flex;
  justify-content: space-between;
  ion-icon {
    margin-right: 5px;
  }
}
