:host {
  justify-content: start;
}

.container {
  display: flex;
  width: 1200px;
  margin: 40px auto 0;
  
  @media (max-width: 1200px) {
    width: auto;
    justify-content: center;
  }
}

ion-modal {
  --height: 50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  @media (max-width: 768px) {
    --width: calc(100% - 40px);
    --margin-left: 20px;
    --margin-right: 20px;
  }
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .linkedin-logo {
    font-size: 37px;
  }
}

.linkedin-text {
  font-size: 27px;
  font-weight: 700;
  text-transform: lowercase;
  &::first-letter {
    text-transform: uppercase;
  }
}

.content-container {
  display: flex;
  width: 1128px;
  max-width: 100%;
  justify-content: center;
  margin: 90px auto 0;
  @media (max-width: 1200px) {
    flex-direction: column;
    width: auto;
  }
  @media (max-width: 600px) {
    margin: 90px 20px;
  }
}
.popover {
  margin-top: 70px;
  width: 300px;
  background: #f8f8f8;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popover-header .popover-content {
  width: 300px;
  margin-top: 16px;
  --box-shadow: none;
  --background: none;
}
