<ion-avatar>
  <ion-img
    [src]="imageUrl || 'https://ionicframework.com/docs/img/demos/avatar.svg'"
    alt="user-avatar"
    lazy = "loading" 
  ></ion-img>
</ion-avatar>
<form #form="ngForm" (ngSubmit)="onSubmit()" class="ion-padding" mode="md" mode="md">
  <ion-textarea
    rows="2"
    placeholder="What do you want to talk about?"
    type="text"
    ngModel
    name="body"
    required
  >
  </ion-textarea>
  <ion-button fill="clear">Add hashtag</ion-button>
  <div class="action-items">
    <div>
      <ion-button size="small" shape="round" color="dark" fill="clear">
        <ion-icon
          class="ion-padding-none"
          slot="icon-only"
          name="add"
        ></ion-icon>
      </ion-button>
      <ion-button size="small" shape="round" color="dark" fill="clear">
        <ion-icon
          class="ion-padding-none"
          slot="icon-only"
          name="image-outline"
        ></ion-icon>
      </ion-button>
      <ion-button size="small" shape="round" color="dark" fill="clear">
        <ion-icon
          class="ion-padding-none"
          slot="icon-only"
          name="play-sharp"
        ></ion-icon>
      </ion-button>
      <ion-button size="small" shape="round" color="dark" fill="clear">
        <ion-icon
          class="ion-padding-none"
          slot="icon-only"
          name="calendar-outline"
        ></ion-icon>
      </ion-button>
    </div>
    <ion-button [disabled]="!form.valid" type="submit" class="ion-margin"
      >Post</ion-button
    >
  </div>
</form>
