
  <ion-content  >
<ion-card *ngFor="let post of Posts">
  <ion-card-header>
    <ion-avatar>
      <img
        alt="Silhouette of a person's head"
        src="https://ionicframework.com/docs/img/demos/avatar.svg"
      />
    </ion-avatar>
    <!-- <ion-card-subtitle> {{ post.author.firstName }} {{ post.author.lastName }}</ion-card-subtitle> -->
  </ion-card-header>

     <p class="post-body">{{ post.body }}</p>

  <ion-list>
    <ion-item>
      <ion-button color="medium" fill="clear">
        <ion-icon name="thumbs-up-outline"></ion-icon>
        <ion-text>Like</ion-text>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button color="medium" fill="clear">
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        <ion-text>Comment</ion-text>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button color="medium" fill="clear">
        <ion-icon name="arrow-redo-outline"></ion-icon>
        <ion-text>Share</ion-text>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button color="medium" fill="clear">
        <ion-icon name="paper-plane-outline"></ion-icon>
        <ion-text>Send</ion-text>
      </ion-button>
    </ion-item>
  </ion-list>
   <ion-infinite-scroll  threshold="100px" (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-card>
</ion-content>
