<ion-content>
  <ion-list>
    <ion-card *ngFor="let post of posts">
      <ion-card-header>
        <div class="avatar-container">
          <ion-avatar>
            <img
              alt="Silhouette of a person's head"
               loading="lazy"
              [src]="
                post.author.imagePath ||
                'https://ionicframework.com/docs/img/demos/avatar.svg'
              "
            />
          </ion-avatar>
        </div>

        <ion-list class="button-list"
          ><ion-item>
            <ion-icon
              (click)="updatePost(post.id, post.body)"
              style="font-size: 18px; cursor: pointer"
              color="dark"
              name="create-outline"
            ></ion-icon
          ></ion-item>
          <ion-item>
            <ion-icon
              (click)="deletePost(post.id)"
              style="font-size: 18px; cursor: pointer"
              color="danger"
              name="trash-outline"
            ></ion-icon></ion-item
        ></ion-list>
      </ion-card-header>
      <p class="post-body">{{ post.body }}</p>
      <ion-list class="post-list">
        <ion-item>
          <ion-button color="medium" fill="clear">
            <ion-icon name="thumbs-up-outline"></ion-icon>
            <ion-text class="ion-hide-md-down">Like</ion-text>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-button color="medium" fill="clear">
            <ion-icon name="chatbox-ellipses-outline"></ion-icon>
            <ion-text class="ion-hide-md-down">Comment</ion-text>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-button color="medium" fill="clear">
            <ion-icon name="arrow-redo-outline"></ion-icon>
            <ion-text class="ion-hide-md-down">Share</ion-text>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-button color="medium" fill="clear">
            <ion-icon name="paper-plane-outline"></ion-icon>
            <ion-text class="ion-hide-md-down">Send</ion-text>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content
      loadingText="Loading more data..."
      loadingSpinner="bubbles"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
