<ion-card>
  <div class="backdrop">
    <input
      type="file"
      style="display: none"
      #fileUpload
      (change)="onFileSelect($event)"
    />
    <ion-avatar (click)="fileUpload.click()" >
      <img
        alt="Avatar"
        [src]="
          imageUrl || 'https://ionicframework.com/docs/img/demos/card-media.png'
        "
      />
    </ion-avatar>
  </div>
  <ion-card-header>
    <ion-card-title>{{fullName}}</ion-card-title>
  </ion-card-header>
  <ion-card-content> Your connection: {{numberOfFriends}} </ion-card-content>
</ion-card>
