ion-card {
  width: 230px;
  box-shadow: none;
  border: 1px solid #e1e1e1;
   @media (max-width: 1200px) {
    width: 100%;
    margin: 0px
  }
}

ion-avatar {
  display: block;
  margin: auto;
  width: 80px;
  height: 80px;
  padding: 5px;
  cursor: pointer;
}

.backdrop {
  height: 84px;
  display: flex;
  background-color: #bcd4e4;
}

ion-card-title {
  text-align: center;
}

ion-card-content {
  text-align: center; 
}