.network-popover::part(backdrop) {
  background: transparent;
}

.network-box {
  border: 1px solid var(--ion-color-border-color);
  display: flex;
  justify-content: space-between;
}

ion-content {
  --ion-background-color: var(--ion-color-back-color);
}

.ion-align-self-end {
  display: flex;
  justify-content: flex-end;
}
