.notification-box {
  display: flex;
}

ion-button {
  margin-left: 10px;
}

ion-label {
  flex-grow: 1;
}

.content-container {
  div {
    margin-top: 20px;
  }
}

.friend-list {
  margin-top: 20px;
  --ion-item-background: var(--ion-color-back-color);
}
