<ion-card>
  <ion-card-header>
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="auto">
          <ion-avatar>
            <ion-img
              src="https://media.istockphoto.com/id/1464547366/fi/valokuva/liikemies-ajattelee-tai-tarkistaa-aikaa-kahvilassa-kahvilassa-tai-ravintolassa-my%C3%B6h%C3%A4iseen.jpg?s=2048x2048&w=is&k=20&c=nOqdOiEoHKN6i2xe-mxvIiqXelsJqLW3YCOoJWlEwTU="
            ></ion-img>
          </ion-avatar>
        </ion-col>
        <ion-col>
          <ion-card-title>dfdf </ion-card-title>
          <ion-card-subtitle>Full Stack Developer</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button expand="block" size="small" fill="outline" color="primary"
      >View Profile</ion-button
    >
  </ion-card-header>
  <div class="item-divider"></div>

  <ion-card-content>
    <p (click) ="onSignOut()"class="sign-out">Sign Out</p>
  </ion-card-content>
</ion-card>
