<ion-card>
  <ion-card-header>
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="auto">
          <ion-avatar>
            <ion-img
               [src]="
                imageUrl ||
                'https://ionicframework.com/docs/img/demos/avatar.svg'
              "
            ></ion-img>
          </ion-avatar>
        </ion-col>
        <ion-col>
          <ion-card-title>{{fullName}} </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button expand="block" size="small" fill="outline" color="primary"
      >View Profile</ion-button
    >
  </ion-card-header>
  <div class="item-divider"></div>

  <ion-card-content>
    <p (click) ="onSignOut()"class="sign-out">Sign Out</p>
  </ion-card-content>
</ion-card>
