ion-avatar {
  margin: 0 auto;
}

.item-divider {
  border-bottom: 1px solid var(--ion-color-light-tint);
}

ion-card-content p:hover {
  text-decoration: underline;
  cursor: pointer;
}

ion-card-title {
  margin-top: 15px;
  font-size: 15px;
  text-align: center;
}

ion-item {
  font-size: 11px;
}

ion-label {
  display: flex !important;
  align-items: center;
}

ion-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-left: 2px;
}

ion-button {
  width: 100%;
  margin-top: 15px;
}
