p {
  margin: 0 auto;
  color: #000;
  font-size: 22px;
  z-index: 1000;
}

.chat-container {
  display: flex;
  height: calc(100% - 110px);
  width: 1128px;
  box-shadow: none;
  border: 1px solid var(--ion-color-border-color);;
  margin: auto;
  margin-top: 110px;
.selected-conversation {
  border-left: 4px solid green;
}
  @media (max-width: 1128px) {
    width: 100%;
  }
}

ion-item {
  border: 1px solid  var(--ion-color-border-color); 
}

ion-card-header {
  padding: 2px;
  margin-left: 30px;
}

.chat-avatar {
  width: 100px;
  height: 100px;
  padding: 10px;
}

.chat-avatar-with-margin {
  margin-left: 30px;
}


ion-input {
  text-indent: 10px;
}

