<ion-card class="chat-container">
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="4">
          <ion-list class="friend-list">
            <ion-item
              *ngFor="let friend of friendList; let i = index"
              (click)="selectFriend(friend, i)"
              [ngClass]="{
                'selected-conversation': selectedConversationIndex === i
              }"
            >
              <ion-avatar slot="start">
                <ion-img
                  alt="friend avatar"
                  loading="lazy"
                  [src]="friend.imagePath"
                ></ion-img>
              </ion-avatar>
              <ion-label
                >{{ friend.firstName }} {{ friend.lastName }}</ion-label
              >
              <ion-badge
                *ngIf="getUnreadMessageCountFromFriend(friend) > 0"
                color="secondary"
                slot="end"
              >
                {{ getUnreadMessageCountFromFriend(friend) }}
              </ion-badge>
            </ion-item>
            <ion-item *ngIf="friendList.length === 0">
              Your friend list is empty
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="12" size-md="8">
          <ion-card>
            <ion-avatar
              *ngIf="selectedFriend?.imagePath"
              class="chat-avatar chat-avatar-with-margin"
            >
              <ion-img
                alt="friend avatar"
                loading="lazy"
                [src]="selectedFriend?.imagePath"
              ></ion-img>
            </ion-avatar>

            <ion-card-header>
              <ion-card-title
                >{{ selectedFriend?.firstName }}
                {{ selectedFriend?.lastName }}</ion-card-title
              >
            </ion-card-header>
            <ion-card-content>
              <ion-list class="chat-list">
                <ion-item *ngFor="let item of messages" class="chat-item">
                  <ion-avatar class="chat-avatar">
                    <ion-img
                      alt="avatar" 
                      lazy="loading"
                      [src]="defineFullImagePath(item.user)"
                    ></ion-img>
                  </ion-avatar>
                  <ion-label class="chat-label">{{ item.message }}</ion-label>
                  <ion-badge
                    *ngIf="!item.read && item.user.id === userId"
                    color="primary"
                    style="margin-left: 8px"
                  >
                    New
                  </ion-badge>
                  <ion-note slot="end">{{
                    item.createdDate | date : "short"
                  }}</ion-note>
                  <ion-button
                    *ngIf="userId !== item.user.id"
                    fill="clear"
                    slot="end"
                    (click)="removeMessageFromList(item.id!)"
                  >
                    <ion-icon name="trash"></ion-icon>
                  </ion-button>
                </ion-item>
              </ion-list>
            </ion-card-content>
            <ion-footer>
              <ion-toolbar>
                <ion-input
                  placeholder="Type a message..."
                  [(ngModel)]="newMessage"
                  (keyup.enter)="sendMessage()"
                ></ion-input>
                <ion-buttons slot="end">
                  <ion-button (click)="sendMessage()">Send</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-footer>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-card>
